@use '../util' as *;

.header {
    max-width: rem(500);

    @include breakpoint(large) {
        margin-top: rem(20);
    }

    text-align: center;

    &__title {
        margin-top: rem(50);
        font-size: rem(24);
        font-weight: 200;
        color: var(--grey-500);

        @include breakpoint(medium) {
            font-size: rem(28);
        }

        @include breakpoint(large) {
            font-size: rem(32);
            margin-top: 0;
        }
    }

    &__subtitle {
        font-size: rem(15);
        font-weight: 400;
        color: var(--grey-400);
    }

    .bold {
        font-weight: 600;
        display: block;
    }
}